language: scala
scala:
  - 2.12.6
  - 2.11.12
jdk:
  - oraclejdk8
  - oraclejdk10

matrix:
  exclude:
    - scala: 2.11.12
      jdk: oraclejdk10

script: |
  sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: |
  sbt ++$TRAVIS_SCALA_VERSION coverageReport coveralls

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
